
.header {
    padding: 0;
    min-height: 695px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;


    background-color: var(--dark-bg);
    background-image: url("../../images/header-bg.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;

    color: var(--text);
    text-align: center;

    &__wrapper {
        padding: 0 15px;
        max-width: 100%;
        border: white;

        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        flex: 1 0 80%;
    }

}

.header__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 20px;
    strong{
        font-size: 60px;
    }
    span.header__name{
        color: var(--accent);
    }
}
.header__text{
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 1.3;
    p + p{
        margin-top: 1em;
    }
}

.btn {
    display: inline-flex;
    align-items: center;
    height: 48px;
    padding: 15px 25px;

    border-radius: 5px;
    background-color: var(--accent);
    color: var(--white);
    letter-spacing: 0.15px;
    font-weight: 500;
    transition: opacity .2s ease-in;
    &:hover{
        opacity: .8;
    }
    &:active{
        position: relative;
        top: 1px;
    }
}

.btn__outline{
    display: flex;
    gap: 10px;
    align-items: center;

    height: 48px;
    padding: 12px 20px;
    border-radius: 5px;
    border: 1px solid var(--dark-border);
    background-color: var(--white);
    &:hover{
        opacity: .8;
    }
    &:active{
        position: relative;
        top: 1px;
    }
}


// Nav

.nav{
    min-width: -webkit-fill-available;

    background-color: var(--dark-bg);
    border-bottom: 1px solid var(--dark-border);
    letter-spacing: normal;
    
     flex: 0 0 20%;

    a{
        color: var(--text);
    }
    .nav a.menu__link{
        color:var(--text)
    }
    &__wrapper{
        padding: 20px 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;

        .logo{
            font-size: 24px;
            margin-right: auto;
            font-family: 'Poppins', sans-serif;
        }
    }
}


ul.menu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px 40px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    li.menu__item{
        position: relative;
        transition: all .2s ease-in;
         a.menu__link:hover::before{
            content: "";
            position: absolute;
            left: 0;
            top: 100%;
            display: block;
            height: 2px;
            width: 100%;
            background-color: var(--accent);
        }
    }
    a.menu__link.active::before{
        content: "";
        position: absolute;
        left: 0;
        top: 100%;
        display: block;
        height: 2px;
        width: 100%;
        background-color: var(--accent);
    }
}


// Dark mode btn

.dark-mode-btn {
    display: flex;
    justify-content: space-between;

    width: 51px;
    height: 26px;
    padding: 5px;

    border-radius: 50px;
    background-color: #272727;
    position: relative;

    &::before{
        content: "";
        display: block;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: var(--white);
        position: absolute;
        top: 1px;
        left: 1px;
        transition: left .2s ease-in;
    }
    &__icon {
        position: relative;
        z-index: 9;
    }
    &--active::before{
        left: 26px;
    }
}