.project__details {
    margin: 0 auto;
    max-width: 865px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.project__img {
    max-width: 100%;
    margin-bottom: 40px;

    box-shadow: 0 5px 5px rgba($color: #000000, $alpha: .25);
    border-radius: 10px;
}
.project__desc {
    margin-bottom: 30px;

    font-size: 24px;
    line-height: 1.3;

    p:first-child{
        font-weight: bold;
        margin-bottom: 20px;
    }
}
