.content__list {
    margin: 0 auto;
    max-width: 570px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
}
.content__item {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    p+p{
        margin-top: 0.5em;
    }
}