@media only screen and (max-width: 604px){
    .dark-mode-btn{
        order: 0;
    }
}

@media only screen and (max-width: 619px){
    .header{
        min-height: unset;
    }
    .logo{
        font-size: 17px;
    }
    .header__title{
        font-size: 30px;
        strong{
            font-size: 40px;
        }
    }

    .nav__wrapper{
        justify-content: space-between;
    }
    .main{
        padding: 40px 0;
    }

    .title-1{
        margin-bottom: 30px;
        font-size: 40px;
    }
    
    .title-2{
        margin-bottom: 10px;
        font-size: 30px;
    }

    .card__title{
        font-size: 22px
    }

    .cards{
        flex-flow: column wrap;
        align-items: center;
    }
    .card{
        width: 300px;
    }
    .card__img{
        width: 300px;
        height: 250px;
    }
    
    .project__desc{
        font-size: 22px;
        margin-bottom: 20px;
    }

    .content__list{
        row-gap: 20px;
    }
    
    .content__item {
        font-size: 16px;
    }

    .footer{
        padding: 40px 0 30px;
        &__wrapper{
            row-gap: 20px;
        }
    }

    .social{
        column-gap: 25px;
        &__item{
            width: 24px;
        }
    }
}

@media only screen and (max-width: 419px){
    .header__title{
        font-size: 20px;
        strong{
            font-size: 30px;
        }
    }

    .card{
        width: 250px;
    }
    .card__img{
        width: 250px;
        height: 220px;
    }
}