@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap");
*, *::before, *::after {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

*:focus, *:active {
  outline: none;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, samp, strike, sub, sup, tt, var, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block;
}

small {
  font-size: 80%;
}

html, body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-weight: normal;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

a:focus, a:active, a:link, a:visited {
  outline: none;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #000;
}

ul, ol, li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

hr {
  width: 100%;
  height: 1px;
  background-color: #101010;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

address {
  font-style: normal;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.wrapper {
  min-height: 100vh;
  margin: 0 10px;
}

/*
font-family: 'DM Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/
:root {
  --white: #fff;
  --black--border: #26292D;
  --black: #171718;
  --purple: #5C62EC;
  --text-color: var(--black);
  --dark-bg: var(--black);
  --dark-border: var(--black--border);
  --text: var(--white);
  --accent: var(--purple);
  --page-bg: var(--white);
  --text-color: var(--black);
  --title-1: var(--accent);
  --project-card-bg: var(--white);
  --project-card-text: var(--black);
}

.dark {
  --page-bg: #252526;
  --text-color: var(--white);
  --title-1: var(--white);
  --project-card-bg: var(--black);
  --project-card-text: var(--white);
}

html, body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  letter-spacing: -0.5px;
  background-color: var(--page-bg);
  color: var(--text-color);
}

.none {
  display: none !important;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.title-1 {
  margin-bottom: 60px;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.3;
  color: var(--title-1);
  text-align: center;
}

.title-2 {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.3;
}

.header {
  padding: 0;
  min-height: 695px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: var(--dark-bg);
  background-image: url("../../images/header-bg.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
  color: var(--text);
  text-align: center;
}
.header__wrapper {
  padding: 0 15px;
  max-width: 100%;
  border: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex: 1 0 80%;
}

.header__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 20px;
}
.header__title strong {
  font-size: 60px;
}
.header__title span.header__name {
  color: var(--accent);
}

.header__text {
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 1.3;
}
.header__text p + p {
  margin-top: 1em;
}

.btn {
  display: inline-flex;
  align-items: center;
  height: 48px;
  padding: 15px 25px;
  border-radius: 5px;
  background-color: var(--accent);
  color: var(--white);
  letter-spacing: 0.15px;
  font-weight: 500;
  transition: opacity 0.2s ease-in;
}
.btn:hover {
  opacity: 0.8;
}
.btn:active {
  position: relative;
  top: 1px;
}

.btn__outline {
  display: flex;
  gap: 10px;
  align-items: center;
  height: 48px;
  padding: 12px 20px;
  border-radius: 5px;
  border: 1px solid var(--dark-border);
  background-color: var(--white);
}
.btn__outline:hover {
  opacity: 0.8;
}
.btn__outline:active {
  position: relative;
  top: 1px;
}

.nav {
  min-width: -webkit-fill-available;
  background-color: var(--dark-bg);
  border-bottom: 1px solid var(--dark-border);
  letter-spacing: normal;
  flex: 0 0 20%;
}
.nav a {
  color: var(--text);
}
.nav .nav a.menu__link {
  color: var(--text);
}
.nav__wrapper {
  padding: 20px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.nav__wrapper .logo {
  font-size: 24px;
  margin-right: auto;
  font-family: "Poppins", sans-serif;
}

ul.menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px 40px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
ul.menu li.menu__item {
  position: relative;
  transition: all 0.2s ease-in;
}
ul.menu li.menu__item a.menu__link:hover::before {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  display: block;
  height: 2px;
  width: 100%;
  background-color: var(--accent);
}
ul.menu a.menu__link.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  display: block;
  height: 2px;
  width: 100%;
  background-color: var(--accent);
}

.dark-mode-btn {
  display: flex;
  justify-content: space-between;
  width: 51px;
  height: 26px;
  padding: 5px;
  border-radius: 50px;
  background-color: #272727;
  position: relative;
}
.dark-mode-btn::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--white);
  position: absolute;
  top: 1px;
  left: 1px;
  transition: left 0.2s ease-in;
}
.dark-mode-btn__icon {
  position: relative;
  z-index: 9;
}
.dark-mode-btn--active::before {
  left: 26px;
}

.main {
  padding: 70px 0;
}

.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 30px;
}

.card {
  max-width: 370px;
  background-color: var(--project-card-bg);
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.card__img {
  border-radius: 10px;
  width: 370px;
  height: 278px;
}

.card__title {
  padding: 15px 20px 25px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
  color: var(--project-card-text);
}

.project__details {
  margin: 0 auto;
  max-width: 865px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.project__img {
  max-width: 100%;
  margin-bottom: 40px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.project__desc {
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 1.3;
}
.project__desc p:first-child {
  font-weight: bold;
  margin-bottom: 20px;
}

.content__list {
  margin: 0 auto;
  max-width: 570px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}

.content__item {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}
.content__item p + p {
  margin-top: 0.5em;
}

.footer {
  padding: 60px 0 50px;
  background-color: var(--dark-bg);
  color: #fff;
  margin-top: auto;
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 27px;
}

.social {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  align-items: center;
}

.copyright p + p {
  margin-top: 0.5em;
}